<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MERP Player list</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>    <!--Plus dependecies!!!!-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
</head>
<body>
<div>
    <div class="row">
        <div class="col-xl-12">
            <h1>MERP - ADVENTURE - FIGHT</h1>
            <h1 th:text="'Counter: ' + ${counter.getFightCount()} + '/' + ${counter.getFightCountMax()}"></h1>
        </div>
    </div>
    <div>
        <form th:action="@{'/merp/adventure/fight'}" th:object="${players}" method="post">
            <div class="form-group">
                <div>
                    <table class="table table-bordered">
                        <thead th:style="'background-color:gray'">
                        <tr>
                            <th>ID</th>
                            <th>Char ID</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Race</th>
                            <th>Class</th>
                            <th>Level</th>
                            <th>XP</th>

                            <th>Activity</th>
                            <th>Target</th>
                            <th>Attack type</th>
                            <th>Critical type</th>

                            <th>HP max</th>
                            <th>HP actual</th>
                            <th>MM</th>
                            <th>TB</th>

                            <th>TB for defense</th>

                            <th>Secondary TB</th>
                            <th>Base Magic TB</th>
                            <th>Target Magic TB</th>
                            <th>VB</th>
                            <th>Shield</th>
                            <th>AGI bonus</th>
                            <th>MD Lenyeg</th>
                            <th>MD Kapcsolat</th>
                            <th>Armor Type</th>

                            <th>isStunned</th>
                            <th>Stunned for rounds</th>

                            <th>Penalty for Activities</th>
                            <th>HP loss/round</th>

                            <th>Is Active</th>
                            <th>Is Alive</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="player, i : ${players.nextTwoPlayersToFight}"
                            th:style="${player.hpActual<=0} ? 'background-color:#E41032'
                        : (${player.isStunned} ? 'background-color:#2A95C9'
                        : (${!player.isActive} ? 'background-color:#C0D6E4'
                        : (${player.getCharacterId().startsWith('JK')}  ? 'background-color:#2ECC71' :  'background-color:#F39C12')))">

                            <!--                        th:style="${player.getCharacterId().startsWith('JK')}  ? 'background-color:#2ECC71' :  'background-color:#F39C12'"-->

                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].id}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].id}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].characterId}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].characterId}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].name}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].name}">
                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].gender}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].gender}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].race}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].race}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].playerClass}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].playerClass}">
                            </td>



                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].lvl}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].lvl}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].xp}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].xp}">
                            </td>

                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].playerActivity}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].playerActivity}">
                            </td>

                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].target}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].target}">
                            </td>

                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].attackType}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].attackType}">
                            </td>

                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].critType}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].critType}">
                            </td>


                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].hpMax}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].hpMax}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].hpActual}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].hpActual}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].mm}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].mm}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].tb}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].tb}">
                            </td>

                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].tbUsedForDefense}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].tbUsedForDefense}">
                            </td>

                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].secondaryTB}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].secondaryTB}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].baseMagicTB}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].baseMagicTB}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].targetMagicTB}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].targetMagicTB}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].vb}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].vb}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].shield}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].shield}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].agilityBonus}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].agilityBonus}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].mdLenyeg}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].mdLenyeg}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].mdKapcsolat}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].mdKapcsolat}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].armorType}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].armorType}">
                            </td>

                            <!--###### CHANGEABLE ##########################################################################-->
                            <td style="width: 10%">
                                <input class="form-control" type="checkbox"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].isStunned}">
                            </td>
                            <!-- -------------------------------------------------------------------------------------------- -->

                            <td>
                                <input class="form-control" type="hidden" th:text="*{nextTwoPlayersToFight[__${i.index}__].stunnedForRounds}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].stunnedForRounds}">
                            </td>

                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].penaltyOfActions}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].penaltyOfActions}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:text="*{nextTwoPlayersToFight[__${i.index}__].hpLossPerRound}"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].hpLossPerRound}">
                            </td>


                            <!--###### CHANGEABLE ##########################################################################-->
                            <td style="width: 10%">
                                <input class="form-control" type="checkbox"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].isActive}">
                            </td>
                            <!-- -------------------------------------------------------------------------------------------- -->

                            <!--###### CHANGEABLE ##########################################################################-->
                            <td style="width: 10%">
                                <input class="form-control" type="checkbox"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].isAlive}">
                            </td>
                            <!-- -------------------------------------------------------------------------------------------- -->


                        </tbody>
                    </table>
                    <table>
                        <!--                    <thead></thead>-->
                        <tbody>
                        <tr th:each="player, i : ${players.nextTwoPlayersToFight}"
                            th:style="${player.getCharacterId().startsWith('JK')}  ? 'background-color:#2ECC71' :  'background-color:#F39C12'">
                            <td>
                                <input class="form-control" type="hidden"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].isPlaying}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].perception}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].tracking}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].lockPicking}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].disarmTraps}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].objectUsage}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].runes}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].influence}">
                            </td>
                            <td>
                                <input class="form-control" type="hidden"
                                       th:field="*{nextTwoPlayersToFight[__${i.index}__].stealth}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
<!--                    TODO no need for this button at fight results IF Fail and instant death will be implemented-->
<!--                    <button class="btn btn-lg btn-success" type="submit" th:text="'Save player'"></button>-->
                </div>
            </div>
        </form>





    <div>
        <form th:action="@{'/merp/adventure/round'}" th:object="${attackmodifier}" method="post">


            <div class="form-group">

                <div>
<!--                    TODO no need this button on fight results page - just show them-->
<!--                    <button class="btn btn-lg btn-success" type="submit" th:text="'Save Modifiers'"></button>-->
                </div>
                <div>
                    <ul>
                        <li>
                            <input id="weaksideattack" name="weaksideattack" type="checkbox"
                                   th:value="*{attackFromWeakSide}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="weaksideattack">Attackfrom weak side</label>
                        </li>
                        <li>
                            <input id="backstab" name="backstab" type="checkbox" th:value="*{attackFromBehind}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="backstab">Backstab</label>
                        </li>
                        <li>
                            <input id="surprised" name="surprised" type="checkbox" th:value="*{defenderSurprised}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="surprised">Target is surprised</label>
                        </li>
                        <li>
                            <input id="stunned" name="stunned" type="checkbox" th:value="*{defenderStunned}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="stunned">Target is stunned</label>
                        </li>
                        <li>
                            <input id="weaponchange" name="weaponchange" type="checkbox"
                                   th:value="*{attackerWeaponChange}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="weaponchange">Attacker weapon change</label>
                        </li>
                        <li>
                            <input id="below50" name="below50" type="checkbox" th:value="*{attackerHPBelow50Percent}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="below50">Attacker HP below 50%</label>
                        </li>
                        <li>
                            <input id="morethan3meters" name="morethan3meters" type="checkbox"
                                   th:value="*{attackerMoreThan3MetersMovement}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="morethan3meters">Attacker moves more than 3 meters</label>
                        </li>

                    </ul>
                </div>
            </div>
        </form>

    </div>

    <!--    <div align="center">-->
    <!--        <a class="btn btn-lg btn-success" th:href="@{/merp/adventure/fight}" th:text="'FIGHT!'"></a>-->
    <!--    </div>-->
    <div align="center">
        <a class="btn btn-lg btn-success" th:href="@{/merp/adventure/nextfight}" th:text="'NEXT FIGHT'"></a>
    </div>
    <div align="center">
        <a class="btn btn-lg btn-info" th:href="@{/merp/adventure/nextround}" th:text="'END Of ROUND'"></a>
    </div>

    <div>
        <table class="table table-bordered">
            <thead th:style="'background-color:gray'">
            <tr>
                <th>Attack Result</th>
                <th>Base damage</th>
                <th>Crit type</th>
                <th>Crit result</th>
                <th>Crit additional damage</th>
                <th>Crit HPloss/round</th>
                <th>Crit Stunned/round</th>
                <th>Crit Penalty of actions</th>
                <th>Full damage without bleeding</th>
                <th>Full damage</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${resultDTO.getAttackResult()}"></td>
                <td th:text="${resultDTO.getBaseDamage()}"></td>
                <td th:text="${resultDTO.getCrit()}"></td>
                <td th:text="${resultDTO.getCritResultText()}"></td>
                <td th:text="${resultDTO.getCritResultAdditionalDamage()}"></td>
                <td th:text="${resultDTO.getCritResultHPLossPerRound()}"></td>
                <td th:text="${resultDTO.getCritResultStunnedForRounds()}"></td>
                <td th:text="${resultDTO.getCritResultPenaltyOfActions()}"></td>
                <td th:text="${resultDTO.getFullDamageWithoutBleeding()}"></td>
                <td th:text="${resultDTO.getFullDamage()}"></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div>
        <div>
            <table class="table table-bordered">
                <thead th:style="'background-color:gray'">
                <tr>
                    <th>Fail Result</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${resultDTO.getFailResultText()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="alert alert-info" role="alert" th:align="center">
    <strong th:text="'D100 Open roll: ' + ${resultDTO.getD100OpenRoll()}"></strong>
</div>
<div class="alert alert-info" role="alert" th:align="center">
    <strong th:text="'Roll result: ' + ${resultDTO.getRollResult()}"></strong>
</div>
<div class="alert alert-success" role="alert" th:align="center">
    <strong th:text="'Attack result: ' + ${resultDTO.getAttackResult()}"></strong>
</div>
<div class="alert alert-success" role="alert" th:align="center">
    <strong th:text="'Crit effect: ' + ${resultDTO.getCritResultText()}"></strong>
</div>
<div class="alert alert-success" role="alert" th:align="center">
    <strong th:text="'Full damage: ' + ${resultDTO.getFullDamage()}"></strong>
</div>
<div class="alert alert-danger" role="alert" th:align="center">
    <strong th:text="'Kudarc: ' + ${resultDTO.getFailResultText()}"></strong>
</div>


</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>