<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MERP Player list</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>    <!--Plus dependecies!!!!-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
</head>
<body>
<div>
    <div class="row">
        <div class="col-xl-12">
            <h1>MERP - ADVENTURE - FIGHT</h1>
            <h1 th:text="'Counter: ' + ${counter.getFightCount()} + '/' + ${counter.getFightCountMax()}">
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead th:style="'background-color:gray'">
            <tr>
                <th>ID</th>
                <th>Char ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Race</th>
                <th>Class</th>
                <th>Level</th>
                <th>XP</th>

                <th>Target</th>
                <th>Activity</th>
                <th>Attack type</th>
                <th>Critical type</th>

                <th>HP max</th>
                <th>HP actual</th>
                <th>MM</th>
                <th>TB</th>

                <th>TB for defense</th>

                <th>Secondary TB</th>
                <th>Base Magic TB</th>
                <th>Target Magic TB</th>
                <th>VB</th>
                <th>Shield</th>
                <th>AGI bonus</th>
                <th>MD Lenyeg</th>
                <th>MD Kapcsolat</th>
                <th>Armor Type</th>
                <th>isStunned</th>
                <th>Penalty for Activities</th>
                <th>HP loss/round</th>

                <th>EDIT</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="player : ${players}"
                th:style="${player.getCharacterId().startsWith('JK')}  ? 'background-color:#2ECC71' :  'background-color:#F39C12'">
                <td th:text="${player.getId()}"></td>
                <td th:text="${player.getCharacterId()}"></td>
                <td th:text="${player.getName()}"></td>
                <td th:text="${player.getGender()}"></td>
                <td th:text="${player.getRace()}"></td>
                <td th:text="${player.getPlayerClass()}"></td>
                <td th:text="${player.getLvl()}"></td>
                <td th:text="${player.getXp()}"></td>

                <td th:text="${player.getTarget()}"></td>
                <td th:text="${player.getPlayerActivity()}"></td>
                <td th:text="${player.getAttackType()}"></td>
                <td th:text="${player.getCritType()}"></td>

                <td th:text="${player.getHpMax()}"></td>
                <td th:text="${player.getHpActual()}"></td>
                <td th:text="${player.getMm()}"></td>
                <td th:text="${player.getTb()}"></td>

                <td th:text="${player.getTbUsedForDefense()}"></td>

                <td th:text="${player.getSecondaryTB()}"></td>
                <td th:text="${player.getBaseMagicTB()}"></td>
                <td th:text="${player.getTargetMagicTB()}"></td>
                <td th:text="${player.getVb()}"></td>
                <td th:text="${player.getShield()}"></td>
                <td th:text="${player.getAgilityBonus()}"></td>
                <td th:text="${player.getMdLenyeg()}"></td>
                <td th:text="${player.getMdKapcsolat()}"></td>
                <td th:text="${player.getArmorType()}"></td>
                <td th:text="${player.getIsStunned()}"></td>
                <td th:text="${player.getPenaltyOfActions()}"></td>
                <td th:text="${player.getHpLossPerRound()}"></td>

                <td><a class="btn btn-warning btn-sm" th:href="@{'/merp/edit/' + ${player.getId()}}"
                       th:text="'EDIT'"> </a></td>

                <td th:text="${player.getIsActive()}" type="text"></td>
                <!--                <td th:value="${player.getTarget()}" type="text"></td>-->
            </tr>
            </tbody>
        </table>
    </div>
<!--    TODO nem mutatja a csikot jelenleg illetve outofboundot dob a vegen-->
<!--    <div class="progress" th:align="center" th:object="${modelHealthPercent}">-->
<!--        <div class="progress-bar" role="progressbar" th:value="${modelHealthPercent}"-->
<!--             aria-valuemin="0" aria-valuemax="100" style="width:70%" th:text="${modelHealthPercent}">-->

<!--        </div>-->
<!--    </div>-->
    <div>
        <form th:action="@{'/merp/adventure/round'}" th:object="${attackmodifier}" method="post">


            <div class="form-group">

                <div>
                    <button class="btn btn-lg btn-success" type="submit" th:text="'Save Changes'"></button>
                    <a class="btn btn-lg btn-primary" th:href="@{/merp/allplayers}" th:text="Back"></a>
                </div>
                <div>
                    <ul>
                        <li>
                            <input id="weaksideattack" name="weaksideattack" type="checkbox"
                                   th:value="*{attackFromWeakSide}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="weaksideattack">Attackfrom weak side</label>
                        </li>
                        <li>
                            <input id="backstab" name="backstab" type="checkbox" th:value="*{attackFromBehind}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="backstab">Backstab</label>
                        </li>
                        <li>
                            <input id="surprised" name="surprised" type="checkbox" th:value="*{defenderSurprised}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="surprised">Target is surprised</label>
                        </li>
                        <li>
                            <input id="stunned" name="stunned" type="checkbox" th:value="*{defenderStunned}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="stunned">Target is stunned</label>
                        </li>
                        <li>
                            <input id="weaponchange" name="weaponchange" type="checkbox"
                                   th:value="*{attackerWeaponChange}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="weaponchange">Attacker weapon change</label>
                        </li>
                        <li>
                            <input id="below50" name="below50" type="checkbox" th:value="*{attackerHPBelow50Percent}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="below50">Attacker HP below 50%</label>
                        </li>
                        <li>
                            <input id="morethan3meters" name="morethan3meters" type="checkbox"
                                   th:value="*{attackerMoreThan3MetersMovement}"/>
                            <!--                        <input name="_features" type="hidden" value="on" />-->
                            <label for="morethan3meters">Attacker moves more than 3 meters</label>
                        </li>

                    </ul>
                </div>
            </div>
        </form>

    </div>

    <div align="center">
        <a class="btn btn-lg btn-success" th:href="@{/merp/adventure/fight}" th:text="'FIGHT!'"></a>
    </div>
    <div align="center">
        <a class="btn btn-lg btn-success" th:href="@{/merp/adventure/nextfight}" th:text="'NEXT FIGHT'"></a>
    </div>
    <div align="center">
        <a class="btn btn-lg btn-info" th:href="@{/merp/adventure/round}" th:text="'END Of ROUND'"></a>
    </div>




</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>