<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MERP Player list</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>    <!--Plus dependecies!!!!-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
</head>
<body>
<div>
    <div class="row">
        <div class="col-xl-12">
            <h1>MERP - ADVENTURE</h1>
        </div>
    </div>
    <div th:align="center">
        <a class="btn btn-lg btn-success" th:href="@{/merp/round}" th:text="'START ROUND'"></a>
        <a class="btn btn-lg btn-primary" th:href="@{/merp/allplayers}" th:text="Back"></a>
    </div>

    <form th:action="@{'/merp/adventure'}" th:object="${adventurers}" method="post">


            <fieldset>
            <div>
                <button class="btn btn-lg btn-success" type="submit" th:text="'Save Changes'"></button>
                <a class="btn btn-lg btn-primary" th:href="@{/merp/allplayers}" th:text="Back"></a>

            </div>

            <table>
                <thead>
                <tr>
                    <th> Title</th>
                    <th> Author</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player, itemStat : *{players}">
                    <td><input th:field="${player[__${itemStat.index}__].name}" /></td>
<!--                    <td><input th:field="*{player[__${itemStat.index}__].lvl}" /></td>-->
                </tr>
                </tbody>
            </table>
            </fieldset>
    </form>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</div>
</body>
</html>